{% apply inline_css(source('@styles/email.css')) %}

<header class="header-mail"><img src="{{ email.image('@images/wk_mail/wk_logo_header.png') }}"{#src="{{asset('img/wk_mail/wk_logo_header.png')}}"#} alt="Logo Header"></header>
<h1 class="h1-mail">New User Registered!</h1>

<p class="margin-bottom">
{{ username }} signed up with the following email:
<code>{{ email.to[0].address }}</code>
<br>
Please verify the user identity and attribute roles accordingly.
<!-- TODO Direct Link to users interface -->
<br>
{#
    <a href="">Click here to activate your account</a>
    (this link is valid until {{ expiration_date|date('F jS') }})
#}
    {#This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.#}
Don't hesitate to contact us with your feedback or if you encounter any issues to access your data.<br><br>
<strong>The Winback Team.</strong>
</p>
<br>
<footer class="footer-mail">
    <!-- Social Icons -->
    <div class="footer-mail-icons">
        <img src="{{ email.image('@images/wk_mail/wk_fb_icon.png') }}"{#src="{{asset('img/wk_mail/wk_fb_icon.png')}}"#} alt="Logo Fb">
        <img src="{{ email.image('@images/wk_mail/wk_insta_icon.png') }}"{#src="{{asset('img/wk_mail/wk_insta_icon.png')}}"#} alt="Logo Insta">
        <img src="{{ email.image('@images/wk_mail/wk_linkedin_icon.png') }}"{#src="{{asset('img/wk_mail/wk_linkedin_icon.png')}}"#} alt="Logo Link">
    </div>
    <div class="footer-mail-items"><img src="{{ email.image('@images/wk_mail/wk_logo_footer.png') }}"{#src="{{asset('img/wk_mail/wk_logo_footer.png')}}"#} alt="Logo Footer"></div>
    <!-- Adress -->
    <div class="footer-mail-items footer-mail-adress">
        <div>20 Avenue Victor Hugo</div>
        <div>64200 Biarritz - France</div>
        <div>0483661666</div>
        <div>hello@winback.com</div>
    </div>
    <!-- Copyright -->
    <div class="footer-mail-items"><em>Copyright Winback©, All rights reserved</em></div>
</footer>

{% endapply %}