{% extends 'base.html.twig' %}

{% block title %}{{'Winback Interface | Home | Welcome !'|trans}}{% endblock %}

{% block content %}
    {#{{ render_esi(path('ch_cookie_consent.show')) }}#}
    {#
    {% if chcookieconsent_isCookieConsentSavedByUser() != true %}
    <div class="modal" tabindex="-1" id="exampleModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                {{ render_esi(path('ch_cookie_consent.show_if_cookie_consent_not_set')) }}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    #}
    <div class="container py-5 rounded-3 d-flex flex-column align-items-center w-100">
        <div class="d-flex align-items-center">
            <div><img src="{{asset('img/avatar.png')}}" alt="avatar" style="width: 5em; height: auto; border-radius: 50%; margin-right: 2em;" class="btn-shadow"></div>
            <div>
                <h2><span>{{ 'Welcome,'|trans }}</span> <span style="font-weight: 400">{{app.user.username}}</span></h2>
                <div class="lead">{{ 'On your dashboard'|trans }}</div>
            </div>
        </div>
        <hr class="w-100 mt-5">
        {% if is_granted("ROLE_READER") %}
        <span class="d-flex text-nowrap justify-content-left align-items-center w-100"><svg width="7" height="15" viewBox="0 0 7 15" fill="none"><path d="M-0.000264168 0H3.14905L6.81055 7.49834L3.14905 15H-0.000264168L3.66123 7.49834L-0.000264168 0Z" fill="white"></path></svg><h2 class="text-uppercase ms-1 mb-0" style="font-size: 21px;">Shortcuts</h2></span>
            <div class="row d-flex align-items-stretch justify-content-evenly w-100 h-100 mt-5">
                
                <div class="col card card-index m-2" style="min-width: 15em;">
                    <a class="h-100" href="{{path('software')}}">
                    <div class="card-body h-100 d-flex flex-column align-items-center justify-content-evenly">
                    <i class="fa-solid fa-download" style="font-size: 3em;"></i>
                    <h6 class="text-nowrap text-uppercase fw-light">{{ 'Softwares'|trans }}</h6>
                    <span>{{ 'Manage the versions available in the database, add or delete a new software.'|trans }}</span>
                    </div>
                    </a>
                </div>
                
                
                <div class="col card card-index m-2" style="min-width: 15em;">
                    <a class="h-100" href="{{path('device')}}">
                        <div class="card-body h-100 d-flex flex-column align-items-center justify-content-evenly">
                        <i class="fa-solid fa-laptop-medical" style="font-size: 3em;"></i>
                        <h6 class="text-nowrap text-uppercase fw-light">{{ 'Devices'|trans }}</h6>
                        <span>{{ 'Manage the devices available on the server, edit an existing device.'|trans }}</span>
                        </div>
                    </a>   
                </div>
                
                {% if is_granted("ROLE_ADMIN") %}
                <div class="col card card-index m-2" style="min-width: 15em;">
                <a class="h-100" href="{{path('dashboard')}}">
                    <div class="card-body h-100 d-flex flex-column align-items-center justify-content-evenly">
                    <span><i class="fa-solid fa-gauge-high" style="font-size: 3em;"/></i></span>
                    <h6 class="text-nowrap text-uppercase fw-light">{{ 'Dashboard'|trans }}</h6>
                    <span>{{ 'Visualize the number of devices updated in the database.'|trans }}</span>
                    </div>
                </a>
                </div>
                {% endif %}
                
            </div>
            {% if is_granted("ROLE_ADMIN") %}
        <div class="row">
            <hr class="w-100 mt-5">
            <span class="d-flex text-nowrap justify-content-left align-items-center w-100"><svg width="7" height="15" viewBox="0 0 7 15" fill="none"><path d="M-0.000264168 0H3.14905L6.81055 7.49834L3.14905 15H-0.000264168L3.66123 7.49834L-0.000264168 0Z" fill="white"></path></svg><h2 class="text-uppercase ms-1 mb-0" style="font-size: 21px;">Dashboard</h2></span>
            <div class="row h-100 mt-5 d-flex align-items-center justify-content-center">
                <div class="col my-1" style="height: 25em; width: 30em;">
                {{ render_chart(firstChart) }}
                </div>
                <div class="col my-1" style="height: 25em; width: 30em;">
                {{ render_chart(secondChart) }}
                </div>
                <div class="col my-1" style="height: 100%;">
                {{ render_chart(thirdChart) }}
                </div>
            </div>
        </div>
            
            {% endif %}
        {% elseif is_granted("ROLE_CLIENT")%}


        {% else %}
        You have no permissions attributed yet, Please wait for the admin team to authorise access.
        {% endif %}
    </div>
{% endblock %}

{#
{% block javascripts %}
    <script src="{{ asset('js/main.js')}}"></script>
{% endblock %}
#}