{{ form_start(form, {attr: { id: 'filter', class: 'sticky-scroll'}}) }}
    {{ form_row(form.q) }}
    <h6>Device Type</h6>
    {{ form_row(form.categories) }}

    <h6>Device Version</h6>
    {{ form_row(form.version) }}
    {{ form_row(form.version_upload) }}

    <h6>Status</h6>
    {{ form_row(form.forced) }}
    {{ form_row(form.connected) }}

    <button type="submit" class="btn bg-orange btn-outline-orange">Search</button>
{{ form_end(form) }}