{#{{ form_start(form, {attr: { id: 'filter', class: 'sticky-scroll'}}) }}#}
{#{{ form_start(form, {attr: { id: 'filter',  style: "position: fixed; width: 100;"}}) }}#}
{{ form_start(form, {attr: { id: 'filter', style: "", class: "d-flex flex-column justify-content-center"}}) }}
    <div class="input-group flex-nowrap">
    <span class="input-group-text mb-3" id="addon-wrapping" style='border-right-style: none; border-top-right-radius: 0; border-bottom-right-radius: 0; background-color: white;'>
    <i class="fa-solid fa-magnifying-glass"></i>
    </span>
    {{ form_row(form.q, {attr: { style: 'border-left-style: none; border-top-left-radius: 0; border-bottom-left-radius: 0;'}}) }}
    </div>
    <!-- Device Type -->
        <h6 class="mt-2">{{ 'Device Type'|trans }}</h6>
        <div class="border border-0" id="collapseDeviceType">
            {{ form_row(form.categories) }}
        </div>
    <!-- Device Version -->
        <h6 class="mt-2">{{ 'Device Version'|trans }}</h6>
        <div class="border border-0" id="collapseDeviceVersion">
            {{ form_row(form.version) }}
            {{ form_row(form.version_upload) }}
        </div>
    <!-- Status -->
        <h6 class="mt-2">{{ 'Status'|trans }}</h6>
        <div class="border border-0" id="collapseStatus">
            {{ form_row(form.forced) }}
        </div>

    <button type="submit" class="btn bg-orange btn-outline-orange">{{ 'Search'|trans }}</button>
{{ form_end(form) }}