{{ form_start(form, {attr: { id: 'filter', style: "", class: "d-flex flex-column justify-content-center"}}) }}
    <div class="input-group flex-nowrap">
    <span class="input-group-text mb-3" id="addon-wrapping" style='border-right-style: none; border-top-right-radius: 0; border-bottom-right-radius: 0;'>
    <i class="fa-solid fa-magnifying-glass"></i>
    </span>
    {{ form_row(form.q, {attr: { style: 'border-left-style: none; border-top-left-radius: 0; border-bottom-left-radius: 0;'}}) }}
    </div>
    <!-- Device Type -->
        <div class="btn-group dropend filterDropdown w-100">
        <button id="dropdownErrorCategory" class="btn btn-secondary dropdown-toggle d-flex flex-nowrap justify-content-between align-items-center filterDropbtn my-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <h6 class="mt-2">{{ 'Devices'|trans }}</h6>
        </button>
        {{ form_row(form.sn_category) }}
        </div>
    
    <!-- Error Type -->
        <div class="btn-group dropend filterDropdown w-100">
        <button id="dropdownErrorCategory" class="btn btn-secondary dropdown-toggle d-flex flex-nowrap justify-content-between align-items-center filterDropbtn my-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <h6 class="mt-2">{{ 'Errors'|trans }}</h6>
        </button>
        {{ form_row(form.error_category) }}
        </div>
    <!-- Device Version -->
        <div class="btn-group dropend filterDropdown w-100">
        <button id="dropdownErrorCategory" class="btn btn-secondary dropdown-toggle d-flex flex-nowrap justify-content-between align-items-center filterDropbtn my-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <h6 class="mt-2">{{ 'Versions'|trans }}</h6>
        </button>
        {{ form_row(form.version) }}
        </div>
        <div class="d-flex justify-content-between w-100 my-2">
            <select name="date" id="date">
            <option value="" selected disabled>Day</option>
            {% for day in days %}
                <option value="{{day}}">{{day}}</option>
            {% endfor %}
            </select>
            <select name="month" id="month">
            <option value="" selected disabled>Month</option>
            {% for key, month in months %}
                <option value="{{key}}">{{month}}</option>
            {% endfor %}
            </select>
            <select name="year" id="year">
            <option value="" selected disabled>Year</option>
            {% for key, year in years %}
                <option value="{{key}}">{{year}}</option>
            {% endfor %}
            </select>
        </div>

    <button type="submit" class="btn bg-orange btn-outline-orange my-2">{{ 'Search'|trans }}</button>
{{ form_end(form) }}