

{% apply inline_css(source('@styles/email.css')) %}

<header class="header-mail"><img src="{{ email.image('@images/wk_mail/wk_logo_header.png') }}" alt="Logo Header"></header>

<div class="text-center">
    <h1 class="h1-mail">Device Error Report</h1>
    <h2 class="h2-mail">{{ "now"|date("m/d/y") }}</h2>

    <h2>Error total</h2>
    <table width="100%">
    {% for item, errors in deviceTypeResult %}
    {% if errors != empty %}
        <td valign="top" align="center">
            <h3>{{item}}</h3>
            <table class="table-mail" width="50%">
            <thead>
            <th>Error id</th>
            <th>Count</th>
            </thead>
            <tbody>
            {% for id, count in errors %}
                <tr>
                <td class="table-mail-cell">{{id}}</td>
                <td class="table-mail-cell">{{count}}</td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </td>
    {% endif %}
    {% endfor %}
    </table>

    <p class="margin-bottom">
    <br>

        {% for keyDeviceType, valueDeviceType in result %}
            <h2>{{keyDeviceType}}</h2>
            {% for key, value in valueDeviceType %}
            
                <span><h3>{{key}}</h3></span>
                <table class="table-mail" width="100%">
                    <thead>
                    <tr>
                    <th>Date</th>
                    <th>Version</th>
                    <th>Error</th>
                    <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for item in value.errors %}
                            <tr>
                            <td class="table-mail-cell">{{item.date}}</td>
                            <td class="table-mail-cell">{{item.version}}</td>
                            <td class="table-mail-cell">{{item.error_id}}</td>
                            <td class="table-mail-cell">{{item.description}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endfor %}
        {% endfor %}

    <br>
    </p>
</div>

{% endapply %}