
    <!--
    <header class="header shadow d-flex justify-content-center">
            <div data-target="example-sidenav" class="press sidenav-trigger flex-1">
                <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>
            <a class="navbar-logo w-100 flex-2" href="{{path('home')}}">
                {#<img src="{{asset('img/winback-logo.webp')}}" alt="Logo" class="logo" style="height: 50px;">#}
            </a>
            <div class="navbar-menu flex-1">
                <a class="navbar-link" href="{{path('app_logout')}}">
                    <i class="fa fa-sign-out" aria-hidden="true"></i> Logout
                </a>
            </div>
    </header>
    -->
    <!--<nav class="navbar navbar-expand-md shadow primary bg-orange px-3 fixed-top" id="navbar">-->
    <nav class="container-fluid navbar navbar-expand-lg shadow bg-orange sticky-top">
        <!--
        <a class="navbar-brand" href="{{path('home')}}"><img src="{{asset('img/winback_logo.svg')}}" alt="winback_logo" width="140" height="auto"></a>
        -->
        <div class="w-100 d-flex flex-nowrap align-items-center">
            <a href="{{path('home')}}">
            <img class="navbar-brand" id="navbar-logo" src="{{asset('img/winback_logo.svg')}}" alt="winback_logo" width="140" height="auto">
            </a>
            <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
                <ul class="navbar-nav d-flex align-items-center me-auto">
                {% if is_granted('ROLE_READER') %}
                    <!--
                    <li><a class="nav-link" href="{{path('home')}}"><i class="fa-solid fa-house"></i></a></li>
                    -->
                    <li><a class="nav-link" href="{{path('software')}}">{{ 'Softwares'|trans }}</a></li>
                    <li><a class="nav-link" href="{{path('device')}}">{{ 'Devices'|trans }}</a></li>
                    {% if is_granted("ROLE_ADMIN") %}
                    <li><a class="nav-link" href="{{path('dashboard')}}">{{ 'Dashboard'|trans }}</a></li>
                    {% endif %}
                    <!--<a class="nav-link" href="">Maintenance</a>-->
                    {% if is_granted('ROLE_ADMIN') %}
                    <li><a class="nav-link" href="{{path('app_sn')}}">{{ 'SN'|trans }}</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-link dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Statistics
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{path('statistics')}}">{{ 'Treatments'|trans}}</a></li>
                            <li><a class="dropdown-item" href="{{path('app_log')}}">Logs</a></li>
                        </ul>
                    </li>
                    {#<li><a class="nav-link" href="{{path('statistics')}}">{{ 'Statistics'|trans }}</a></li>#}
                    {% endif %}
                {% endif %}
                    <li class="nav-item dropdown" style="width: fit-content;">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown-language" role="button"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ app.request.locale|locale_name(app.request.locale) }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-language">
                        <li><a class="dropdown-item" href="{{ path('device', {_locale: 'en'}) }}"><img class="icon-flags" src="{{asset('img/flags/uk.png')}}" alt=""> EN</a></li>
                        <li><a class="dropdown-item" href="{{ path('device', {_locale: 'fr'}) }}"><img class="icon-flags" src="{{asset('img/flags/france.png')}}" alt=""> FR</a></li>
                        <li><a class="dropdown-item" href="{{ path('device', {_locale: 'ko'}) }}"><img class="icon-flags" src="{{asset('img/flags/korea.png')}}" alt=""> KO</a></li>
                        </ul>
                    </li>
                
                </ul>
                
                {% if is_granted('ROLE_USER') %}
                <div class="d-flex flex-nowrap justify-content-center">
                    <div>
                        {{"Welcome"|trans}} {{ app.user }}
                    </div>
                    <a class="nav-link" href="{{path('app_logout')}}" style="margin-left: 0.5em;">
                        <i class="fa fa-sign-out text-white" aria-hidden="true"></i>
                    </a>
                </div>
                {% endif %}
                

                
            </div>
        </div>

        <button class="navbar-toggler align-self-start border border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span><i class="fa-solid fa-bars text-white"></i></span>
        </button>

    </nav>

<!-- ##### Sidenav ##### -->
<!--
<div class="sidenav shadow-1 white" id="example-sidenav" data-ax="sidenav">
    <div class="sidenav-header">
        <img class="sidenav-logo dropshadow-1" src="{{asset('img/winback-logo.webp')}}" alt="Logo" />
    </div>
    <a href="#" class="sidenav-link active">Link 1</a>
    <a href="#" class="sidenav-link">Link 2</a>
    <a href="#" class="sidenav-link">Link 3</a>
    <a href="#" class="sidenav-link">Link 4</a>
    <div class="sidenav-footer cyan light-1">
        This is a footer
    </div>
</div>
-->