
<!--
<h1>Hi! Please confirm your email!</h1>

<p>
    Please confirm your email address by clicking the following link: <br><br>
    <a href="{{ signedUrl }}">Confirm my Email</a>.
    This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cheers!
</p>
-->
<!--
<h1>Welcome !</h1>

<p>Thanks for signing up to the Winback Platform. Welcome on our services.<br><br>
You can now access your data by clicking the following link and login with your credentials : <br>
<a href="">Enter</a><br><br>
Don't hesitate to contact us with your feedback.<br><br>
The Winback Team<br>

</p>
-->

<img src="{{ email.image('@images/winback_logo.svg') }}" alt="Logo">
<h1>Welcome {{ email.toName }}!</h1>

<p>
    You signed up with the following email:
</p>
<p><code>{{ email.to[0].address }}</code></p>

<p>
    <a href="">Click here to activate your account</a>
</p>