{% extends 'base.html.twig' %}

{% block title %}{{'Winback Interface | Client Access'|trans}}{% endblock %}

{% block content %}

<div class="container vh-80">

    <div class="row">
        <!-- SN client table -->
        <div class="col">
            <h3>Sn</h3>
            {% if clientSnArray %}
                <table class="table">
                    <thead>
                    <tr><th>SN</th></tr>
                    </thead>
                    <tbody>
                    {% for clientSn in clientSnArray %}
                    <tr><td>        
                    {{clientSn.SN}}
                    </td></tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}

            <h3>Device</h3>
            {% if clientDeviceArray %}
            <table class="table">
            <thead>
            <tr>
            <th>SN</th>
            <th>Log File</th>
            </tr>
            </thead>
            <tbody>
            {% for clientDevice in clientDeviceArray %}
                {% if clientDevice != null %}
                <tr>
                <td>{{clientDevice.sn}}</td>
                <td>
                <a download href="{{ asset('Ressource/logs/' ~ clientDevice.deviceFamily ~ '/' ~ clientDevice.logFile) }}">
                <i class="fa-solid fa-download"></i>
                </a></td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
            </table>
            {% endif %}
        </div>

        <!-- New device form -->
        <div class="col">
            <h3>Ajouter un autre appareil ?</h3>
            {{ form_start(clientRegistration) }}
                {{ form_row(clientRegistration.email) }}
                {{ form_row(clientRegistration.serial_number) }}
                <button>Submit</button>
            {{ form_end(clientRegistration) }}
        </div>
    </div>
    
</div>
{% endblock %}
