{% extends 'base.html.twig' %}

{% block title %}{{'Winback Interface | Client Device Access'|trans}}{% endblock %}

{% block content %}

<div class="example-wrapper">
    {{ form_start(clientRegistration) }}
        {{ form_row(clientRegistration.email) }}
        {{ form_row(clientRegistration.serial_number) }}
        <button>Submit</button>
    {{ form_end(clientRegistration) }}

</div>
{% endblock %}