{{ form_start(searchform, {attr: { id: 'filter', class: 'sticky-scroll'}}) }}
    <div class="input-group flex-nowrap">
    <span class="input-group-text mb-3 icon" id="addon-wrapping" style='border-right-style: none; border-top-right-radius: 0; border-bottom-right-radius: 0;'>
    <i class="fa-solid fa-magnifying-glass"></i>
    </span>
    {{ form_row(searchform.value, {attr: { style: 'border-left-style: none; border-top-left-radius: 0; border-bottom-left-radius: 0;'}}) }}
    </div>
    <!-- Device Type -->
        <h6 class="mt-2">{{"Software Type"|trans}}</h6>
        <div class="border border-0" id="collapseDeviceType">
            {{ form_row(searchform.category) }}
        </div>

    <button type="submit" class="btn bg-orange btn-outline-orange">{{"Search"|trans}}</button>
{{ form_end(searchform) }}