{% extends 'base.html.twig' %}

{% block title %}{{ 'Winback Interface | Dashboard'|trans }}{% endblock %}

{% block content %}


    <div class="container row d-flex align-items-stretch">
        <div class="col-sm-8 col-md-5 col-xl-4 mb-5">
            <div class="card dashboard-card w-100 h-100">
                <h3 class="card-header w-100"><div class="" style="text-transform: uppercase;">Devices</div></h3>
                <div class="card-body d-flex flex-column justify-content-top w-100 h-100 p-0 py-4">
                    <canvas id="myChart" class="text-start"></canvas>
                    {#{{ render_chart(thirdChart) }}#}
                </div>
                <div id="total_count" style="display: none;">{{countDevices}}</div>
            </div>
        </div>

        <div class="col-sm-8 col-md-5 col-xl-4 mb-5 d-flex flex-wrap align-items-center justify-content-evenly">
            

                <div id="carouselExampleIndicators" class="carousel carousel-dark slide w-100">

                <div class="carousel-inner">
                    {% for deviceFamily in devicesFamily %}
                    <div class="carousel-item {{ (deviceFamily=="BACK4") ? 'active' : '' }}">
                        <div class="card dashboard-card">
                            
                            <h3 class="card-header w-100 device_family" id="{{deviceFamily}}">{{deviceFamily}}</h3>
                            <div class="card-body d-flex flex-column justify-content-top w-100 h-100">
                                <canvas id="myChart2_{{deviceFamily}}" class="mb-3"></canvas>
                                <div class="d-flex flex-nowrap justify-content-between align-items-center">
                                <strong>Total :</strong><div class="device_count" id="count_{{deviceFamily}}">{{deviceFamily.devices.count}}</div>
                                </div>
                                <div class="d-flex flex-nowrap justify-content-between" style="display: hidden;">Updated Devices : <div class="device_count_version" id="count_version_{{deviceFamily}}">0</div></div>
                                <div class="d-flex flex-nowrap justify-content-between" style="display: hidden;">Not Updated Devices : <div class="device_count_version" id="count_not_{{deviceFamily}}">{{deviceFamily.devices.count}}</div></div>
                                {% for key, item in deviceArray %}
                                {% if key == deviceFamily %}
                                    {{item}}
                                {% endif %}
                                {% endfor %}
                            </div>

                            <div class="card-footer w-100 d-flex justify-content-between">
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev" style="height: fit-content;">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                {% for key, items in softwareArray %}
                                {% if key == deviceFamily %}
                                <select class="form-select w-75" id="dashSelect_{{deviceFamily}}">
                                <option value="" selected disabled hidden>Version</option>
                                {% for item in items %}
                                    <option value={{item.version}} class="select-version" data-devicefamily="{{deviceFamily}}">
                                    {{item.version}}
                                    </option>
                                {% endfor %}
                                </select>
                                {% endif %}
                                {% endfor %}
                                <button class="carousel-control-next h-100" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                </div>



                
            
        </div>
        <div class="example-wrapper">
            {#{{ render_chart(chart, {'id': 'my-chart'})}}#}
        </div>
    </div>
    <!--
    <div class="container row">
    stat device/week or month
    </div>
    -->
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/dashboard.js')}}"></script>
{% endblock %}