{% extends 'base.html.twig' %}

{% block title %}Device{% endblock %}

{% block content %}
    <div class="container d-flex flex-column justify-content-between align-items-center">
            <h1 class="text-center mt-4 mb-4">Device</h1>
            <!-- ===== DEVICE TABLE ===== -->
            <div id="listDevice" class="d-flex flex-column align-items-center w-100">
                {% for message in app.flashes('error') %}
                    <div class="p-3 my-2 rounded-2 alert alert-danger">{{ message }}</div>
                {% endfor %}
                {% for message in app.flashes('infoDevice') %}
                    <div class="p-3 my-2 rounded-2 alert alert-success">{{ message }}</div>
                {% endfor %}
                
                <div id="listDeviceSearch" class="align-items-center mt-4 mb-4" style="width: 50%;">
                
                {{ form(searchform) }}

                <!-- Button to add device table -->
                <button id="floatingBtn" class="btn bg-orange btn-outline-orange" 
                style="border: none; border-radius: 50%; height: 4em; width: 4em; box-shadow: 2px 2px 3px #999;" 
                type="button"
                data-bs-target="#modal_upload"
                data-id="{{device.id}}"
                data-title="{{device.sn}}"
                data-bs-toggle="modal">
                    <i class="fa-solid fa-plus"></i>
                </button>
                <!-- ===== UPLOAD MODALS ===== -->
                {% include 'device/upload_modals.html.twig' %}
                
                {#
                {{form_widget(searchform.forced)}}
                {{form_widget(searchform.Search)}}
                #}
                </div>

                <div id="listDeviceTable" class="table-responsive mt-4 mb-4 w-100">
                    <table class="table table-striped table-hover w-100" id="deviceTable" data-toggle="table" data-pagination="true" data-sort-name="sn" data-search="true">
                        <thead class="w-100 align-middle">
                            <tr class="h-100 w-100 align-middle" id="deviceTableTitle">
                                <th scope="col"></th>
                                <!--<th class="text-center">Serial Number <i class="fa-solid fa-arrow-up-a-z" id="sn" onclick=sortTable(0)></i></th>-->
                                <th scope="col" class="h-100">
                                    <div class="h-100 d-flex justify-content-between input-group no-wrap text-center align-items-center">
                                        <span class="h-100 d-flex align-items-center">Serial Number</span>
                                        <span class="btn btn-light text-dark h-100 p-1" type="button"><i class="h-100 fa-solid fa-arrow-up-a-z d-flex align-items-center" id="snSort" onclick=sortTable(1)></i></span>
                                    </div>
                                
                                </th>
                                <th scope="col" class="text-center">Device Family</th>
                                <th scope="col" class="text-center">Version</th>
                                <th scope="col" class="text-center">Upload Version</th>
                                <!--
                                TODO Progress bar
                                <th class="text-center">Download status</th>
                                -->
                                <th scope="col" class="text-center">Log files</th>
                                <th scope="col" class="text-center">Forced</th>
                                <th scope="col" class="text-center">Info</th>
                                <th scope="col" class="text-center">Connect</th>
                            </tr>
                            <tr class="w-100 align-bottom">
                                <!--
                                <th class="text-center">
                                    <a href="" class="btn rounded-1 bg-orange press modal-trigger" id="valid_0"
                                    data-target=""><i class="fa-solid fa-check"></i></a>
                                </th>
                                -->
                                <th class="text-center">
                                    {{ form_start(checkform) }}
                                        <div class="row">
                                            <div class="col form-field form-inline">
                                                {{ form_row(checkform.check, {'id' : "checkbox_0"}) }}
                                            </div>
                                        </div>
                                    {{ form_end(checkform) }}
                                </th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th id='test_zone_0'>
                                    <!--<div class="input-group d-flex no-wrap">-->
                                            {#
                                            {{form_widget(form.versionInput)}}
                                            {{form_widget(form.Save)}}
                                            #}
                                            {{form(form)}}
                                    <!--</div>-->
                                </th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th>
                                </th>
                            </tr>
                        </thead>
                        
                        <tbody class="w-100 overflow-scroll">
                            {% for device in devices %}
                                <tr scope="row" class="w-100">
                                    <td class="text-center">
                                        <div class="form-field text-center align-middle">
                                        <label class="form-check text-center align-middle">
                                            <input type="checkbox" id="checkbox_{{device.id}}" data-id="{{device.id}}" name="checkbox_item" class="form-check-input" {{ (device.selected)? 'checked': ''}}/>
                                        </label>
                                        </div>
                                    </td>
                                    <td class="text-center">{{device.sn}}</td>
                                    <td class="text-center">{{device.deviceFamily}}</td>
                                    <td class="text-center">{{device.version}}</td>
                                    <td class="text-center version-upload" id="test_zone_{{device.id}}">{{device.versionUpload}}</td>
                                    {#TODO Progress bar#}
                                    {#
                                    <td class="text-center">
                                        <div class="progress rounded-2 progress-small">
                                            <div class="progress-bar viride dark-1" style="width: 25%;"></div>
                                        </div>
                                    </td>
                                    #}
                                    <td class="text-center"><a download href="{{ asset('Ressource/logs/' ~ device.deviceFamily ~ '/' ~ device.logFile) }}"><i class="fa-solid fa-download"></i></a></td>
                                    <!-- forced -->
                                    <td class="text-center">
                                        {% if device.forced %}<i class="fa-solid fa-f"></i>{% else %}{% endif %}
                                    </td>
                                    <!--info-->
                                    <td class="text-center">
                                        <a id="info_device" href="#" class="info_device btn rounded-1 press modal-trigger bg-orange btn-outline-orange" 
                                        data-bs-target="#modal_info_{{device.id}}"
                                        data-id="{{device.id}}"
                                        data-title="{{device.sn}}"
                                        data-bs-toggle="modal">
                                        <i class="fa-solid fa-circle-info"></i>
                                        </a>
                                    </td>
                                    <!--edit-->
                                    <!--
                                    <td class="text-center">
                                        <a href="{{path('device_edit', {'id': device.id})}}" class="btn rounded-1 bg-orange press modal-trigger" 
                                        data-target=""
                                        data-id="{{device.id}}"
                                        data-title="{{device.sn}}"><i class="fa-solid fa-pen"></i></a>
                                    </td>
                                    -->
                                    {#
                                    <td class="text-center">
                                        <a href="#" class="btn rounded-1 bg-orange press modal-trigger" 
                                        data-target="modal_edit_{{device.id}}"
                                        data-id="{{device.id}}"
                                        data-title="{{device.sn}}"><i class="fa-solid fa-pen"></i></a>
                                    </td>
                                    #}
                                    
                                    <td class="text-center">
                                        {% if (device.deviceFamily == "BIOBACK" or device.deviceFamily == "RSHOCK" or device.deviceFamily == "CRYOBACK4") %}
                                        <input class="btn connect_command {% if device.isActive == true %}bg-green btn-outline-green{% else %}bg-orange btn-outline-orange{% endif %}" id="c_sn_{{device.sn}}" data-id="connect_{{device.id}}" name='{{device.sn}}' type="button" value="Connect" data-bs-toggle="modal" data-bs-target="#testAcces">
                                        {% endif %}
                                        {#<input class="btn connect_command" id="c_sn_{{device.sn}}" name='{{device.sn}}' type="button" value="Connect" {% if device.isActive == true %}{% else %}{% endif %}>#}
                                    </td>
                                    
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    
                </div>

            </div>
            <!-- ===== /DEVICE TABLE ===== -->

            <!-- ===== INFO MODALS ===== -->
            {% include 'device/info_modals.html.twig' %}

            {#
            TODO Uncomment new device if needed to test
            <button class="ml-auto btn shadow-1 rounded-1 small bg-orange btn-outline-orange"><a href="{{path('device_add')}}">New Device</a></button>
            #}

            <!-- ===== DEVICE ACTION ===== -->
            {% include 'device/device_action.html.twig' %}

            
            <div id="errorDeviceConnect alert alert-danger"></div>

            <!-- ===== ACCESS MODALS ===== -->
            {% include 'device/acces_modals.html.twig' %}

        </div>

    </div>
    

{% endblock %}

{% block js %}

{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
    var path = "{{ asset('js/TCPClient2.php')}}";
    </script>
    
    <script>

    // ######### Sort Table by alphabetical order ######### //

    
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("deviceTable");
        switching = true;
        //console.log("hello");
        // Set the sorting direction to ascending:
        dir = "asc";
        while (switching) {
        // Start by saying: no switching is done:
        switching = false;
        rows = table.rows;
        for (i = 2; i < (rows.length -1); i++) {
            // Start by saying there should be no switching:
            shouldSwitch = false;
            x = rows[i].getElementsByTagName("TD")[n];
            y = rows[i + 1].getElementsByTagName("TD")[n];
            //console.log(rows[14].getElementsByTagName("TD")[n].innerHTML)
            if (dir == "asc") {
            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                // If so, mark as a switch and break the loop:
                //console.log(x.innerHTML.toLowerCase());
                shouldSwitch = true;
                break;
            }
            } else if (dir == "desc") {
            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                // If so, mark as a switch and break the loop:
                shouldSwitch = true;
                break;
            }
            }
        }
        if (shouldSwitch) {
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
            // Each time a switch is done, increase this count by 1:
            switchcount ++;
        } else {
            if (switchcount == 0 && dir == "asc") {
            dir = "desc";
            switching = true;
            }
        }
        }
    }


        /*
        let editButton = document.querySelectorAll(".modal-trigger")
        for(let button of editButton) {
            button.addEventListener("click", function() {
                $id = button.getAttribute("data-id");
                $sn = button.getAttribute("data-title");
                console.log($id)
                document.querySelector(".modal-footer a").href = `/admin/device/edit/${$id}`
                document.querySelector(".modal-content").innerText = `Are you sure to edit device `+$sn
            })
        }
        */
    </script>
    <script type="text/javascript" src="{{ asset('js/winback.js')}}"></script>
    <script type="text/javascript" src="{{ asset('js/socket.js')}}"></script>
{% endblock %}