{% extends 'base.html.twig' %}

{% block title %}{{'Winback Interface | Softwares'|trans}}{% endblock %}

{% block content %}
    <div class="d-flex flex-column justify-content-between align-items-center w-100">
        <h1 class="text-center mt-4 mb-4">{{ 'Softwares'|trans }}</h1>
        <!--<section id="softwareSearch"></section>-->
        <!-- ===== ALERT MESSAGES ===== -->
        {% for message in app.flashes('errorSoftware') %}
            <div class="p-3 my-2 rounded-2 alert alert-danger">{{ message|trans }}</div>
        {% endfor %}
        {% for message in app.flashes('message') %}
            <div class="p-3 my-2 rounded-2 alert alert-warning">{{ message|trans }}</div>
        {% endfor %}
        {% for message in app.flashes('infoSoftware') %}
            <div class="p-3 my-2 rounded-2 alert alert-success">{{ message|trans }}</div>
        {% endfor %}
        <div class="row w-100 px-2">
            <div class="col-md-2 d-flex justify-content-center">
                <!-- ===== NEW SOFTWARE ===== -->
                {% if is_granted("ROLE_GOE") %}
                <a id="btn-upload-soft" class="btn bg-orange btn-outline-orange floatingBtn d-flex align-items-center justify-content-center box-shadow" 
                    href="{{path('software_add')}}"
                    style="border: none; border-radius: 50%; height: 4em; width: 4em; padding: 1em;" 
                    type="button">
                    <i class="fa-solid fa-plus"></i>
                </a>
                {% endif %}
                <!-- ===== UPLOAD MODALS ===== -->
                {% include 'software/upload_modals.html.twig' %}
                <!-- ===== SEARCH SOFTWARE IN DB ===== -->
                
                {% include "software/_filter.html.twig" %}
            </div>
            <div class="col-md-10">
                <!-- ===== SOFTWARE TABLE PER FAMILY ===== -->
                <div class="d-flex flex-column justify-content-between">
                
                {% for family in families %}
                    <div class="accordion mt-2 mb-4" id="accordionSoftware">
                        
                        <div class="accordion-item">
                            <h2 class="text-center mt-2 mb-2" id="accordionHeading_{{ family.name }}">
                                {% if family.numberId == 10 %}
                                    HI-TENS
                                {% else %}
                                    {{ family.name }}
                                {% endif %}
                            </h2>
                            <div class="accordion-collapse collapse show responsive-table overflow-auto" id="accordionCollapse_{{ family.name }}" aria-labelledby="accordionHeading_{{ family.name }}" data-bs-parent="#accordionSoftware">
                                
                                <table class="table table-hover" id="softTable_{{ family.name }}">
                                            {% if is_granted("ROLE_ADMIN") or (is_granted("ROLE_GOE") and family.numberId == 15)%}
                                            <tr>
                                                <th colspan="1" class="text-center">
                                                Actual version :
                                                </th>
                                                <th colspan="3" class="text-center">
                                                <span class="actualFile">
                                                {{ family.actualVersion }}
                                                </span>
                                                
                                                </th>
                                                <th colspan="1" class="text-center">
                                                    <div class="input-group d-flex justify-content-center flex-nowrap text-break overflow-hidden actualVersion-update-form">
                                                        <input class="form-control actualVersion_update_input w-100" type="text" name="nm" value="">
                                                        <button class="actualVersion_update_button btn btn-outline-orange" type="button" name="name" value="" data-id="{{family.id}}"><i class="fa-solid fa-check"></i></button>
                                                    </div>
                                                </th>
                                            </tr>
                                            {% endif %}
                                            <tr>
                                                <th class="text-center">{{ 'Filename'|trans }}</th>
                                                <th class="text-center">
                                                    <div class="d-flex flex-nowrap input-group justify-content-center">
                                                        <span>{{"Version"|trans}}</span>
                                                        {#<i class="fa-solid fa-arrow-up-a-z btn p-1 mx-1" onclick=sortTable(0)></i>#}
                                                        <i id="softTableClick_{{ family.name }}" class="fa-solid fa-arrow-up-a-z py-1 softTableClick" style="margin-left: 2px;"></i>
                                                    </div>
                                                </th>
                                                <th class="text-center">
                                                {{ 'Creation date'|trans }}
                                                </th>
                                                {% if is_granted("ROLE_ADMIN") or (is_granted("ROLE_GOE") and family.numberId == 15) %}
                                                <th class="text-center"><i class="fa-solid fa-trash"></i></th>
                                                {% endif %}
                                                {% if is_granted("ROLE_SAV") or (is_granted("ROLE_GOE") and family.numberId == 15) %}
                                                <th class="text-center">{{ 'Update Comment'|trans }}</th>
                                                {% endif %}
                                            </tr>
                                        </thead>

                                        <tbody class="accordion-body">
                                        
                                        {% for soft in softwares %}
                                            
                                            {% if family.name == soft.deviceFamily %}
                                        
                                            
                                            <tr style="font-size: 12px;">
                                                
                                                <td class="text-center">
                                                    {% if is_granted("ROLE_SAV") or (is_granted("ROLE_GOE") and family.numberId == 15) %}
                                                        <a download href="{{ asset(ressource_path  ~ 'package/' ~ family.name ~ '/' ~ soft.name) }}" class="filename">{{soft.name}}</a>
                                                    {% else %}
                                                        {{soft.name}}
                                                    {% endif %}
                                                </td>
                                                <td class="text-center">{{soft.version}}</td>
                                                <td class="text-center">{{soft.createdAt|format_datetime('medium', 'short')}}</td>

                                                
                                                {% if is_granted("ROLE_ADMIN") or (is_granted("ROLE_GOE") and family.numberId == 15) %}
                                                <td class="text-center">
                                                    <button href="#" class="btn btn-outline-orange modal-trigger delete-button" 
                                                    data-bs-target="#modal_delete_{{soft.id}}"
                                                    data-id="delete_{{soft.id}}"
                                                    data-title="{{soft.name}}"
                                                    data-bs-toggle="modal"><i class="fa-solid fa-trash"></i></button>
                                                </td>
                                                <td class="text-center">
                                                    <div id="comment_left_{{soft.id}}"></div>
                                                    <div class="input-group d-flex justify-content-center flex-nowrap text-break overflow-auto">
                                                        <textarea class="form-control comment_update_input" type="text" name="nm" value="" data-id="{{soft.id}}">{{soft.updateComment}}</textarea>
                                                        <button class="comment_update_button btn btn-outline-orange" type="button" name="name" value="" data-id="{{soft.id}}"><i class="fa-solid fa-check"></i></button>
                                                    </div>
                                                </td>
                                                {% elseif is_granted("ROLE_SAV") %}
                                                <td class="text-center">
                                                    <div class="d-flex justify-content-center flex-nowrap text-break overflow-auto">
                                                        <textarea class="form-control comment_update_input border border-0" type="text" name="nm" value="" disabled>{{soft.updateComment}}</textarea>
                                                    </div>
                                                </td>
                                                {% endif %}
                                                
                                            </tr>
                                            
                                            
                                            {% include 'software/delete_modals.html.twig' %}
                                        {% endif %}
                                        
                                        {% endfor %}
                                          
                                        </tbody>
                                </table>


                            </div>
                        </div>
                        
                    </div>
                {% endfor %}
                
                </div>
            </div>
        </div>

        {# ===== DELETE MODALS ===== #}
        {#
        {% include 'software/delete_modals.html.twig' %}
        #}
    </div>
    

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/software.js')}}"></script>
{% endblock %}
